#intro{
    height: calc(100vh - 5rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgtbcont{
    width: 25rem;
    height: 40rem;
    background-color: transparent;
    border: 1px solid #D5CEA3;
    display: flex;
    justify-content: center;
    border-radius: 4rem;
    margin: 0 2.5rem;
}
.bgtb{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.introContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 650;
    letter-spacing: 3px;
}
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.intro-name{
    color: #D5CEA3;
    font-size: 2rem;
}
.intropara{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 1rem 0;
}
.btn{
    background-color: #fff;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 1rem;
    font-size: large;
    cursor: pointer;
}
.introbtns{
    width: 65%;
    display: flex;
    justify-content: space-between;
}
.btn:active{
    transform: scale(0.98);
}
@media screen and (max-width: 840px){
    #intro{
        flex-direction: column;
    }
    .bgtbcont{
        height: 15rem;
        width: 17rem;
        border-radius: 50%;
        overflow: visible;

    }
    .bgtbcont img{
        border-radius: 50%;
        width: 17rem;
        height: 15rem;
    }
    .introContent{
        font-size: 10vw;
        align-items: center;
        text-align: center;
    }
    .hello{
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 600px){
    .introContent{
        align-items: center;
        font-size: 1.5rem;

    }
}
@media screen and (max-width: 520px){
    .introbtns .btn{
        margin: 7px;
        font-size: 14px;
    }
}
@media screen and (max-width: 400px){
    .introbtns .btn{
        padding: 0.4rem 0.65rem;
    }
}