.footer{
    width: 100vw;
    height: 4rem;
    text-align: center;
    padding: 2rem auto;
    background: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    align-items: center;
}