 #skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
 }
.skilTitle{
    font-size: 3rem;
    font-weight: 700;
    padding-top: 4rem;
    margin-bottom: 2rem;

}
.skilDesc{
    font-weight: 300;
    font-size: 0.9rem;
    max-width: 51rem;
    padding: 0 2rem;
}
.skillBars{
    margin: 1.5rem auto;
    width: 100vw;
    max-width: 80%;
    text-align: start;
}
.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background-color: rgb(50, 50, 50);
}
 .skillBar img{
    object-fit: cover;
    width: 4rem;
    height: 3rem;
    margin-right: 2rem;
 }
 .skillBarText>p{
    font-size: 0.9rem;
    font-weight: 200;
 }

 @media screen and (max-width:720px) {
    .skillBars{
        width: 100vw;
        max-width: 90vw;
    }
    .skillBarText>p{
        font-size: 2vw;
    }
    .skilTitle{
        margin-top: 6rem;
    }
 }
 @media screen and (max-width:480px) {
    .skillBar img{
        height:2.25rem;
        width: 2.25rem;
    }
    .skillBarText h2{
        font-size: 1rem;
    }
    .skilTitle{
        margin-top: 1rem;
    }
 }
